body {
  background-color: #393E46;
}
.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
h1{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
h2{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 2rem;
  color: #4ECCA3;
}
button{
  transform: scale(2);
  font-family: 'Lobster', cursive;
}
.btn1{
  display: none;
  pointer-events: none;
}
.btn2{
  display:none;
  pointer-events: none;
}
.cardSuits{
  display: none;
  cursor: pointer;
  pointer-events: none;
}
.cardSuits img{
  width:8%;
  border-radius: 20px;
}
.cardSlot{
  text-align: center;
  display: none;
}
.cardSlot img {
  width: 80%;
  background-color: white;
  border-radius: 20px;
}
.active{
  display: inline-block;
  pointer-events: auto;
}
footer{
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 1rem;
  color: lightyellow;
  text-align: center;
}
