body {
  background-color: #393E46;
}
.container{
  width: 70%;
  margin: auto;
  text-align: center;
}
h1{
  color: white;
}
.btn1{
  display: none;
  pointer-events: none;
}
.btn2{
  display:none;
  pointer-events: none;
}
.cardSuits{
  display: none;
  cursor: pointer;
  pointer-events: none;
}
.cardSuits img{
  width:8%;
}
.cardSlot{
  text-align: center;
  display: none;
  cursor: pointer;
  pointer-events: none;
}
.cardSlot img {
  width: 80%;
  background-color: white;
  border-radius: 20px;
}
.active{
  display: inline-block;
  pointer-events: auto;
}
footer{
  color: white;
  text-align: center;
}
